extends layout

block content

    // Wrapper
    #wrapper

        // ARTIST LIST
        #artistDetails
            table
                thead
                    th Name
                    th Title
                tbody
        // /ARTIST LIST

    // /WRAPPER