extends layout

block content

    // Wrapper
    #wrapper

        // ARTWORK Details
        h2 Artwork Details
        #artworkDetails
            table
                thead
                    th Artist
                    th Classification
                    th Image
                tbody
        // /ARTWORK Details

    // /WRAPPER