extends layout

block content

	.jumbotron
		.container
			h1 Welcome to the Tate Gallery!
			p
				| The Tate is an institution that houses the United Kingdom's national collection of British art, and international modern and contemporary art.
			p

	.container
		h2 Random Artworks
		hr
		.row
			each item in artwork
				.col-md-3
					p
						| #[img(src="#{item.thumbnailUrl}")]
					p
						a.btn.btn-default(href="/artworks/#{item.id}", role='button') More Info »
